#imagem-scania.jpeg{
    width: 10000px;
    border: slid 3px rgb(1, 1, 1);
}

.principal{
    background-color : rgb(14, 151, 219);
    color: white;
}

.rodape{
    background-color: rgb(236, 32, 32);
    color: white ;
    rext-align: center;
}