.cabecalho{
    background-color: blue;
    border: 10px;
    border-color: blue;
    border-style: dashed;
    margin: 10px;
    color: black;
    font-weight: 400;
}

#scania.jpeg{
    width 300px;
    border: 3 px black solid;
}

.lista-links{
    font-size: 30px;

}
.lista-links:houver{
    font-size: 40px;
    color: greenyellow;
}
.principal{
    background-color: black;
    border: 10px;
    border-color: aliceblue;
    border-style: double;
    margin: 30px;
    color: yellow;
}