#imagem-scania.jpeg{
    width: 500px;
    border: slid 3px rgb(0, 0, 0);
}

.principal{
    background-color : rgb(232, 236, 238);
    color: white;
}

.rodape{
    background-color: rgb(0, 0, 0);
    color: white ;
    rext-align: center;
}