#link{
    font-size: 20px;
    color: blue;
    text-decoration: none;
}
#link:hover{
    font-size: 25px;
    color: rgb(179, 255, 0);
    text-decoration: underline;
}
#imagem-scania.jpeg{
    width: 10000px;
    border: slid 3px rgb(1, 1, 1);
}

.principal{
    background-color : rgb(241, 242, 243);
    color: rgb(14, 12, 12);
}

.rodape{
    background-color: rgb(214, 213, 213);
    color: rgb(19, 16, 16) ;
    rext-align: center;
}